full.bat
full-with-test.bat
target/
lib/

#Ignore generated debug-transformations
**/models-debug.xsl

# Old file structure, kept temporarily
src/main/xslt/inputs/ddi/source.xsl
src/main/xslt/inputs/ddi/templates.xsl
src/main/xslt/inputs/ddi/functions.xsl
src/main/xslt/transformations/ddi2fr/ddi2fr.xsl
src/main/xslt/transformations/ddi2fr/tree-navigation.xsl
src/main/xslt/transformations/ddi2fr/functions.xsl
src/main/xslt/transformations/ddi2fr/drivers.xsl
src/main/xml/null.xml
#DDI/

# Ignore Eclipse files
.classpath
.project
.settings/

# New file structure for Java interop
src/main/resources/xslt/inputs/ddi/source.xsl
src/main/resources/xslt/inputs/ddi/templates.xsl
src/main/resources/xslt/inputs/ddi/functions.xsl
src/main/resources/xslt/transformations/ddi2fr/ddi2fr.xsl
src/main/resources/xslt/transformations/ddi2fr/tree-navigation.xsl
src/main/resources/xslt/transformations/ddi2fr/functions.xsl
src/main/resources/xslt/transformations/ddi2fr/drivers.xsl
src/main/resources/xml/null.xml

src/main/scripts/build.cmd