<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">


	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="fr.insee.eno.ws" level="info" additivity="false">
			<AppenderRef ref="Console-Appender" level="info" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>